.banner {
    position: relative;
}

.banner-imagen {
    background: url('../../img/banner.png') no-repeat center / cover;
    width: 100%;

}

.banner-titulo {
    color: white;
    position: absolute;
    left: 50%;
    top: 30%;
    text-align: center;
    width: 100%;
    transform: translate(-50%, -50%);
    font-family: Pacifico, cursive;
    font-weight: 400;
    font-style: normal;


}

@media screen and (min-width: 0) {
    .banner-imagen {
        height: calc(100vh - 51px);
    }

    .banner-titulo {
        font-size: 3rem;
    }

}

@media screen and (min-width: 768px) {
    .banner-imagen {
        height: calc(100vh - 72px);
    }

    .banner-titulo {
        font-size: 7rem;
    }
}